body{
    padding: 0;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #57b657bb;
}

h1{
    padding: 0px;
    border: none;
    margin: auto;
    box-sizing: border-box;
    position:relative;
    font-size: 12rem;
    font-family: "Rubik Wet Paint", system-ui;
    font-style: normal;
    font-weight: 500;
    display: flex;
    justify-content: center;
}

/* creating a transition for the colors to make it smoother */
.letter{
    transition: color 1500ms;
}

